---
async function * stream(cb: (num: number) => any) {
	for await(const num of Array.from({length: 10}, (v, n) => n)) {
		await new Promise(resolve => {
			setTimeout(resolve, 1000);
		});
		yield cb(num);
		yield '\n';
	}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		
		<ul>
			{stream(num => (
				<li>{ num }</li>
			))}
		</ul>
	</body>
</html>
